name: CI Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
          server-id: ververica-artifactory
          server-username: ${{ secrets.ARTIFACTORY_USERNAME }}
          server-password: ${{ secrets.ARTIFACTORY_TOKEN }}
      - name: Run build
        run: |
          mvn --batch-mode clean verify -DtrimStackTrace=false \
              -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
